* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    font-size: 13.2px;
}

* {
    transition: all 0.3s;
}

.code {
    width: 30%;
    height: 90%;
    padding: 10px;
}

#code {
    overflow-y: scroll;
    height: 100%;
}

#code::-webkit-scrollbar {
    display: none;
}

.chart {
    height: 100%;
}

.actions {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
}

.actions>button {
    width: 86px;
    height: 35px;
    font-size: 12.5px;
    margin: 7px 0px;
    border: none;
    color: rgb(55, 70, 70);
    text-align: center;
    border-radius: 4px;
}

.active {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}